.main {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #f8f7f1;
    margin: auto;
}

.inner {
    color: #286f6c;
}

.homepage {
    padding-left: 150px;
}

.middle {
    text-align: center;
    padding-left: 20px;
}

.middle div a  {
    text-decoration: none;
    color: inherit;
}

.middle-active {
    border-left: 2px solid #286f6c;
    border-right: 2px solid #286f6c;
    border-radius: 80px;
}

.center-inner {
    margin-left: 40px;
}