.main {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #f8f7f1;
    margin: auto;
}

.inner {
    color: #286f6c;
}

.homepage {
    padding-left: 150px;
}

.middle {
    text-align: center;
    padding-left: 20px;
}

.middle div a  {
    text-decoration: none;
    color: inherit;
}

.middle-active {
    border-left: 2px solid #286f6c;
    border-right: 2px solid #286f6c;
    border-radius: 80px;
}

.background {
    padding-left: 25px;
    background-image: url(/img.png);
    height: 40em;
    margin: auto;
}

.top-center {
    display: flex;
}

.center-inner {
    margin: 70px 70px;
    column-gap: 20px;
    justify-content: space-between;
    margin-bottom: 5PX;
}

h1, .h1 {
    font-size: 4.0rem;
    color: #153431;
    font-family: "Trirong", sans-serif;
    font-weight: 800;
    padding-left: 50px;
    font-stretch: extra-expanded;
}

h5, .h5 {
    margin: 20px;
    color: #286f6c;
    font-family: "Trirong", sans-serif;
}

.center-inner-cir {
    padding-top: 10px;
    padding-left: 80px;
}

.center-middle h5 {
    margin: 20px;
    padding-left: 115px;
    color: #ff6500;
    font-family: monospace;
    font-weight: bolder;
}

.center-bottom {
    display: flex;
    justify-content: space-between;
}

.cbl {
    text-align: center;
    padding-left: 100px;
    height: auto;
    padding-top: 100px;
}

.cbl h1 {
    font-size: 4.7rem;
    padding-left: 65px;
}

.certified-img {
    height: 100px;
    width: 190px;
    padding-left: 75px;
}

.cbr h5 {
    margin-right: 10px;
}